*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat',sans-serif;
}

body{
   height: 100vh;
   background: #E6E7E8;
}

.container{
   width: 50vw;
   margin: auto;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
}

.container h1{
   color: #354649;
}

header{
   display: grid;
   grid-template-columns: 1fr 50px;
   margin-top: 10px;
}

header .shopping{
   position: relative;
   text-align: right;
}

header .shopping i{
   font-size: 3rem;
   color:  #354649;
   cursor: pointer;
   transition: all 0.25s ease;
   -webkit-transition: all 0.25s ease;
   -moz-transition: all 0.25s ease;
   -ms-transition: all 0.25s ease;
   -o-transition: all 0.25s ease;
}

header .shopping i:hover{
   color: #6C7A89;
}

header .shopping span{
   position: absolute;
   top: -5px;
   left: 80%;
   background: #A3C6C4;
   padding: 3px 10px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ---------------- */

.card{
   position: fixed;
   top: 0;
   left: 100%; 
   width: 500px;
   height: 100vh;
   background-color: #E0E7E9;
   border-left: 1px solid #354649;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
}

.active .card{
   left: calc(100% - 500px);
}

.active .container{
   transform: translateX(-200px);
   -webkit-transform: translateX(-200px);
   -moz-transform: translateX(-200px);
   -ms-transform: translateX(-200px);
   -o-transform: translateX(-200px);
}

.card h1{
   color: #354649;
   font-weight: 300;
   margin: 0;
   padding: 0 20px;
   height: 80px;
   display: flex;
   align-items: center;
}

.card .checkOut{
   position: absolute;
   bottom: 0;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
}

.card .checkOut div{
   background-color:#354649;
   color: #E6E7E8;
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   cursor: pointer;
}

.card .checkOut div:nth-child(2) {
   background-color: #1c1f25;
   color: #E6E7E8;
}



 